body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #307eb2;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products-section {
    width: 70%;
}

.add-product-section {
    width: 25%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.product-card p {
    color: #092e45;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
}

form button {
    background-color: #0d396a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #7E57C2;
}

footer {
    background-color: #307eb2;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
